/node_modules
/public/hot
/vendor
.env
.env.backup
.env.production
database/*.sqlite
database/*.sqlite-journal
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/logs/*
!storage/logs/.gitignore
